# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/whitepaper/figures/
/whitepaper/whitepaper-0.1_files/
/whitepaper/whitepaper-0.1.html
/whitepaper/whitepaper-0.1.qmd
/cmake-build-debug/
/.idea
